@page "/"
@using Icarosdev.Sonos.Api.Model
@using Icarosdev.Sonos.Api


<PageTitle>Sonos</PageTitle>
@*
<h1>Sonos</h1>

<button class="btn btn-primary" @onclick="SonosOff">Sonos Off</button>
<button class="btn btn-primary" @onclick="SonosOn">Sonos On</button>

<p role="status">Answer: @(_status?.Status ?? "")</p>
*@
@if (_zones != null)
{
    foreach (var zone in _zones)
    {
        var zoneRoom = zone.Room;
        var zoneRoomClass = zoneRoom.State.Mute ? "zone-room-off" : "zone-room-on";
        if (!string.IsNullOrWhiteSpace(_updatingRoom) && _updatingRoom == zoneRoom.RoomName)
        {
            zoneRoomClass = "progress";
        }

        <div class="container zone">
            <div class="row row-margin @zoneRoomClass">
                <div class="col-2">
                    <img class="album-image" @onclick="() => PlayPause(zone.Room.RoomName)" src="@zoneRoom.State.CurrentTrack.AbsoluteAlbumArtUri"/>
                </div>
                <div class="col-3">
                    <h2>Group: @zoneRoom.RoomName</h2>
                    <h5>@ResolveMainTrackInformation(zoneRoom)</h5>
                    <h6>@ResolveDetailTrackInformation(zoneRoom)</h6>
                </div>
            </div>
        </div>

        <div class="container rooms">

            @foreach (var room in zone.Members)
            {
                var roomClass = room.State.Mute ? "room-off" : "room-on";
                if (!string.IsNullOrWhiteSpace(_updatingRoom) && _updatingRoom == room.RoomName)
                {
                    roomClass = "progress";
                }
                <div class="row row-margin @roomClass">
                    <div class="col-2">
                        <img class="album-image" @onclick="() => ToggleMuteUnmute(room)" src="@room.State.CurrentTrack.AbsoluteAlbumArtUri"/>
                    </div>
                    <div class="col-3">

                        <h2>@room.RoomName</h2>
                        <h5>@ResolveMainTrackInformation(room)</h5>
                        <h6>@ResolveDetailTrackInformation(room)</h6>
                    </div>
                    <div class="col-7">
                        <input type="range" class="form-range align-middle" id="customRange1">
                    </div>
                </div>
            }
        </div>
    }
}


@code {
        
    const string SonosServer = "raspberrypi";
    private Zone[]? _zones;
    private OperationStatus? _status;
    private SonosControl? _sonosControl;
    private string? _updatingRoom;

    protected override async Task<Task> OnInitializedAsync()
    {
        _sonosControl = new SonosControl(SonosServer);
        StartAutoRefresh();
        return base.OnInitializedAsync();
    }

    void StartAutoRefresh()
    {
        var timer = new Timer(new TimerCallback(async _ =>
        {
            await LoadZones();

            this.StateHasChanged();
        }), null, 3000, 3000);
    }

    private async Task LoadZones()
    {
        await Task.Delay(2000);
        _zones = await _sonosControl?.GetAllZones();
        _updatingRoom = null;
    }

    private async Task SonosOff()
    {
        PerformOperation();
        _status = await _sonosControl?.PauseAll();
    }

    private async Task SonosOn()
    {
        PerformOperation();
        _status = await _sonosControl?.ResumeAll();
        await LoadZones();
    }

    private async Task PlayPause(string zoneName)
    {
        PerformOperation();
        _status = await _sonosControl?.PlayPause(zoneName);
        await LoadZones();
    }

    private async Task Play(string zoneName)
    {
        PerformOperation();
        _status = await _sonosControl?.Play(zoneName);
        await LoadZones();
    }

    private async Task Pause(string zoneName)
    {
        PerformOperation();
        _status = await _sonosControl?.Pause(zoneName);
        await LoadZones();
    }

    private async Task Mute(string roomName)
    {
        PerformOperation(roomName);
        _status = await _sonosControl?.Mute(roomName);
        await LoadZones();
    }

    private async Task Unmute(string roomName)
    {
        PerformOperation(roomName);
        _status = await _sonosControl?.Unmute(roomName);
        await LoadZones();
    }

    private void PerformOperation(string? roomName = null)
    {
        _updatingRoom = roomName;
        _status = new OperationStatus { Status = "sending ..." };
    }

    public async Task ToggleMuteUnmute(Room room)
    {
        if (room.State.Mute)
        {
            await Unmute(room.RoomName);
        }
        else
        {
            await Mute(room.RoomName);
        }
    }

    public string? ResolveMainTrackInformation(Room room)
    {
        string? trackMainInformation = _sonosControl?.ResolveMainTrackInformation(room);
        return trackMainInformation;
    }

    public string ResolveDetailTrackInformation(Room room)
    {
        string? trackMainInformation = _sonosControl?.ResolveDetailTrackInformation(room);
        return trackMainInformation;
    }

}